<% layout("layouts/boilerplate") -%>

<form action="/login" method="post" class="needs-validation" novalidate>
  <div class="row mb-3 offset-4">
    <label for="username" class="col-sm-1 col-form-label">Username:</label>
    <div class="col-3">
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
      />
    </div>
    <div class="invalid-feedback">username required</div>
  </div>
  <div class="row mb-4 offset-4">
    <label for="password" class="col-sm-1 col-form-label">Password:</label>
    <div class="col-sm-3">
      <input
        type="password"
        class="form-control"
        id="password"
        required
        name="password"
      />
    </div>
    <div class="invalid-feedback">password required</div>
  </div>
  <div class="row mb-3 offset-4">
    <button class="btn btn-outline-success col-sm-2">Log-in</button>
  </div>
</form>
