<% layout("layouts/boilerplate") %> <% for(let blog of allBlogs) {%>
<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title"><%= blog.title %></h5>
    <p class="card-text"><%= blog.content %></p>
  </div>
</div>
<% } %>
